{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block content %} 
    <h1>Content is here coming below</h1> 
    <p>Eu reprehenderit dolore non ex nostrud officia reprehenderit dolore id exercitation occaecat commodo. In ex officia aute nostrud sit occaecat non nulla cillum ex. Veniam adipisicing do sit consequat dolor cupidatat eu consectetur non in. Occaecat pariatur elit in ad ex. Ea ad dolor aliqua laborum id ullamco labore esse ut ullamco incididunt sit aliqua. Labore in sit id irure minim nostrud proident sint veniam aliqua aliquip reprehenderit duis incididunt.</p>
{% endblock content %}