{% extends "base.html" %}
{% block title %}User Profile{% endblock title %}
{% block content %} 
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="col-md-12">Welcome {{user}} </div>

    <form action="#" method="post">
        <input type="text" name="name" id="name" placeholder="Full Name" value="{{name if name}}">
        <input type="email" name="email" id="email" placeholder="Email Adress" value="{{email if email}}">
        <input type="tel" name="phone" id="phone" placeholder="Phone Number" value="{{phone if phone}}">
        <button type="submit">Submit</button>
    </form>

{% endblock content %}